#container{
   margin-left: 40px;
    height: 60px;
    width:60px;
}

#prime  img{

height: 100px;
width: 700px;
flex: auto;
display: inline-block;
margin-left: 50px;

}

h1{

    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    font-size:large;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    padding-left: 80px;
}
p{
    font-style: italic bold ;
    margin-left: 40px;
}
#nic img{
margin-left: -170px;
    height: 500px;
    width: 900px;
    flex: auto;
}
#laxmi img{
margin-left: 250px;
margin-top: -10px;  
  height: 50px;
    width:100px;
    flex: auto;
}
.bank {
display: inline-flex;
}